In [1]:
import pandas as pd

# Dataframe

## Создание датафрейма

In [2]:
form_users = {
    'User ID': [1, 2, 3, 4, 5],
    'Username': ['bogdan_s', 'Aidyn', 'Saltanat', 'Zhangir', 'bob88'],
    'Age': [18, 24, 20, 14, None],
    'Joined Date': pd.to_datetime(['2020-12-15', '2022-01-05', '2034-02-20', '2000-06-15', '2023-11-29']),
    'Total Post': [150, 200, 354, 500, 290],
    'Reputation': [500, 2000, 1243, 453, 680]
}

df = pd.DataFrame(form_users)

In [3]:
df

   User ID  Username   Age Joined Date  Total Post  Reputation
0        1  bogdan_s  18.0  2020-12-15         150         500
1        2     Aidyn  24.0  2022-01-05         200        2000
2        3  Saltanat  20.0  2034-02-20         354        1243
3        4   Zhangir  14.0  2000-06-15         500         453
4        5     bob88   NaN  2023-11-29         290         680

In [4]:
df.columns

Index(['User ID', 'Username', 'Age', 'Joined Date', 'Total Post',
       'Reputation'],
      dtype='object')

In [5]:
df.columns.tolist()

['User ID', 'Username', 'Age', 'Joined Date', 'Total Post', 'Reputation']

In [6]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
df.index.tolist()

[0, 1, 2, 3, 4]

In [8]:
df.dtypes

User ID                 int64
Username               object
Age                   float64
Joined Date    datetime64[ns]
Total Post              int64
Reputation              int64
dtype: object

In [9]:
df.dtypes.tolist()

[dtype('int64'),
 dtype('O'),
 dtype('float64'),
 dtype('<M8[ns]'),
 dtype('int64'),
 dtype('int64')]

In [10]:
df.values

array([[1, 'bogdan_s', 18.0, Timestamp('2020-12-15 00:00:00'), 150, 500],
       [2, 'Aidyn', 24.0, Timestamp('2022-01-05 00:00:00'), 200, 2000],
       [3, 'Saltanat', 20.0, Timestamp('2034-02-20 00:00:00'), 354, 1243],
       [4, 'Zhangir', 14.0, Timestamp('2000-06-15 00:00:00'), 500, 453],
       [5, 'bob88', nan, Timestamp('2023-11-29 00:00:00'), 290, 680]],
      dtype=object)

In [11]:
df.values[1, 1]

'Aidyn'

In [12]:
df.describe().round(2)
# std это стандартное отклонение

       User ID    Age          Joined Date  Total Post  Reputation
count     5.00   4.00                    5        5.00        5.00
mean      3.00  19.00  2020-04-17 09:36:00      298.80      975.20
min       1.00  14.00  2000-06-15 00:00:00      150.00      453.00
25%       2.00  17.00  2020-12-15 00:00:00      200.00      500.00
50%       3.00  19.00  2022-01-05 00:00:00      290.00      680.00
75%       4.00  21.00  2023-11-29 00:00:00      354.00     1243.00
max       5.00  24.00  2034-02-20 00:00:00      500.00     2000.00
std       1.58   4.16                  NaN      137.39      653.37

In [13]:
df.describe()

        User ID        Age          Joined Date  Total Post   Reputation
count  5.000000   4.000000                    5    5.000000     5.000000
mean   3.000000  19.000000  2020-04-17 09:36:00  298.800000   975.200000
min    1.000000  14.000000  2000-06-15 00:00:00  150.000000   453.000000
25%    2.000000  17.000000  2020-12-15 00:00:00  200.000000   500.000000
50%    3.000000  19.000000  2022-01-05 00:00:00  290.000000   680.000000
75%    4.000000  21.000000  2023-11-29 00:00:00  354.000000  1243.000000
max    5.000000  24.000000  2034-02-20 00:00:00  500.000000  2000.000000
std    1.581139   4.163332                  NaN  137.394323   653.372558

## Выбор колонок по типу данных

In [14]:
df.select_dtypes('int64')

   User ID  Total Post  Reputation
0        1         150         500
1        2         200        2000
2        3         354        1243
3        4         500         453
4        5         290         680

## Отсутствующие ячейки и метод isna

In [15]:
df.isna()

   User ID  Username    Age  Joined Date  Total Post  Reputation
0    False     False  False        False       False       False
1    False     False  False        False       False       False
2    False     False  False        False       False       False
3    False     False  False        False       False       False
4    False     False   True        False       False       False

In [16]:
df.isna().sum()

User ID        0
Username       0
Age            1
Joined Date    0
Total Post     0
Reputation     0
dtype: int64

# Series

In [28]:
username_series = df['Username']
username_series

0    bogdan_s
1       Aidyn
2    Saltanat
3     Zhangir
4       bob88
Name: Username, dtype: object

In [29]:
username_series.values

array(['bogdan_s', 'Aidyn', 'Saltanat', 'Zhangir', 'bob88'], dtype=object)

In [30]:
df['Username'].value_counts()

Username
bogdan_s    1
Aidyn       1
Saltanat    1
Zhangir     1
bob88       1
Name: count, dtype: int64